html(lang="en")
    head
        title geodemo
    body
        h2 GeoDemo
        h3 Coordinates :
        .content latitude :
        input#coordinates
        .content longitude :
        input#coordinates
        h3 Geohash conversions :
        .results
