<div id="event">
  <h2>Events</h2>
  <table id="event_table">
    <tr>
      <th>Happened Here</th>
    </tr>

    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
    </tr>
    <% end %>

  </table>
</div>