/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#navigation {
  background-color: cyan;
  border: dotted 5px orange;
  /*position: fixed;*/
  width: 100%;
  /*margin-top: -50px;*/
}

#navigation a:hover{
  color: blue;
}

#navigation li{
  display: inline-block;
}

body {
  background-color: magenta;
  font-family: sans-serif;
}

.container {
  /*display: block;*/
  /*position: absolute;*/
  border: dashed 3px red;
  width: 50%;
  margin: 50px auto auto auto;
}

.column1 {
  width: 25%;
  height: 200px;
  float: left;
  background-color: orange;
}

.column2 {
  width: 40%;
  height: 200px;
  float: left;
  background-color: blue;
  
}

.column3 {
  width: 25%;
  height: 200px;
  float: left;
  background-color: green;
}

.footer {
  
}
