// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column1 {
  width: 25%;
  height: 200px;
  float: right;
  background-color: orange;
}

.column2 {
  width: 40%;
  height: 200px;
  float: left;
  background-color: blue;
  
}

.column3 {
  width: 25%;
  height: 200px;
  float: right;
  background-color: green;
}

.footer {
  width: 40%;
  height: 100px;
  background-color: teal;
  clear: both;
}